@let currentPhoto = photo();

<section class="detail">
  <h1 class="cdk-visually-hidden">Photo {{ currentPhoto.id }}</h1>

  <div class="detail__stage">
    <img class="detail__img" [src]="currentPhoto.fullUrl" [alt]="'Photo ' + currentPhoto.id" />
  </div>

  <div class="detail__meta">
    @if (isFavorite()) {
      <button mat-flat-button (click)="removeFromFavorites()">
        <mat-icon>delete</mat-icon>
        Remove from favorites
      </button>
    } @else {
      <p class="detail__note">This photo is not in your favorites.</p>
      <button mat-flat-button (click)="addToFavorites()">
        <mat-icon>favorite</mat-icon>
        Add to favorites
      </button>
    }
  </div>
</section>
