@let currentPhoto = photo();

<section class="detail">
  <div class="detail__stage">
    <img class="detail__img" [src]="currentPhoto.fullUrl" [alt]="'Photo ' + currentPhoto.id" />
  </div>

  <div class="detail__meta">
    @if (isFavorite()) {
      <button mat-flat-button (click)="removeFromFavorites()">
        <mat-icon>delete</mat-icon>
        Remove from favorites
      </button>
    } @else {
      <p class="detail__note">This photo is not in your favorites.</p>
      <a mat-stroked-button routerLink="/favorites">Back to favorites</a>
    }
  </div>
</section>
